<div class="container-fluid">
    <div class=" row fondo-custom">
        <div class="col-lg-offset-1 col-lg-2 col-md-offset-1 col-md-2 col-sm-offset-1 col-sm-2 col-xs-offset-1 col-xs-10">
              <img class="img img-responsive logo" src="../../assets/images/logo.png "/>
        </div>
        <div class="col-lg-offset-6 col-lg-5 col-md-offset-6 col-md-5 col-sm-offset-6 col-sm-5 col-xs-offset-1 col-xs-10 text-custom">
            <p>
              <strong>Forma</strong> es un taller de corte, ensamble y manufactura de productos hechos
              con madera, acrílico y algunos otros materiales. A través del apoyo de tecnología de
              punta, excelente diseño de producto, y trabajo a mano de alta calidad, se logra la
              entrega de productos de lujo para producciones a pequeña o gran escala.
            </p>
            <br>
          <label>hola@tallerforma.mx</label>
          <br><br>
          <a href="https://www.facebook.com/tallerformamx/" target="_blank"><img class=" social-icon" src="../../assets/images/facebook.png " /></a>
          <br><br><br>
        </div>

    </div>
</div>
<div class="container-fluid">
  <div class="row">
    <div class="col-lg-12 col-md-12">
      <div startslider></div>
    </div>
  </div>
</div>

<div class="container-fluid">
        <div class="row contact-custom hidden-xs">
          <div class=" col-sm-4 col-sm-push-1 col-md-2 ">
              <small>hola@tallerforma.mx
                <br>
                MEX (+52) 55 67 30 15 42</small>
          </div>

              <div class="col-sm-4 col-sm-offset-3 col-md-3 col-md-offset-6">
                <a href="http://cardinaleyewear.com.mx" target="_blank">
                <button type="button" class="btn-custom">VISITA NUESTRA MARCA DE LENTES</button>
              </a>
              </div>
            <div class=" col-sm-1 col-md-1">
              <img class="social-icon-custom" src="../../assets/images/contacto.png " />
            </div>
          </div>
  <div class="row contact-custom-xs hidden-sm hidden-md hidden-lg">
    <div class="col-xs-12 ">
      <small>hola@tallerforma.mx  //  MEX (+52) 55 67 30 15 42</small>
    </div>
    <br>
  <div class="col-xs-8 col-xs-offset-2 text-center">
      <a href="http://cardinaleyewear.com.mx" target="_blank">
      <button type="button" class="btn-custom-xs">VISITA NUESTRA MARCA DE LENTES</button>
      </a>
    </div>
    </div>
</div>
<div class="container-fluid">
  <div class="row footer-mellow hidden-xs">
    <div class=" col-sm-11 col-md-11 text-left col-sm-offset-1 col-md-offset-1 ">
      <!-- <small >A Mellow C& Company</small> -->
      <img class="social-icon-mellow" src="../../assets/images/Sellos-02.png " />
       <a href="http://mellow.cc" target="_blank">
      <img class="social-icon-mellow" src="../../assets/images/Sellos-01.png " />
      </a>
    </div>
    <!-- <div class=" col-sm-1 col-md-1  ">
      <img class="social-icon-mellow" src="../../assets/images/Sellos-01.png " />
    </div> -->

  </div>
  <div class="row footer-mellow hidden-sm hidden-md hidden-lg">
    <div class="col-xs-12 text-center ">
      <img class="social-icon-mellow" src="../../assets/images/Sellos-02.png" />
       <a href="http://mellow.cc" target="_blank">
         <img class="social-icon-mellow" src="../../assets/images/Sellos-01.png" />
       </a>
    </div>
  </div>

</div>
